body
{
    background-color: pink;
    /* height: 2000px; */
}
header
{
    height: 50px;
    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: row;
}
.box
{
    background-color: white;
    height: 600px;
    width: 83%;
    margin-top: 70px;
    margin-left: 110px;
    border-radius: 25px;
}
.ul
{
    color: burlywood;
     font-size: 18px; 
     gap: 20px;
    display: flex;
    text-align: center;
    margin-left: 280px;
    flex-direction: row;
}
.div:hover
{
    cursor: pointer;
    color: green;
    transition: .3s;
}
.h1
{
    margin-left: 70px;
    padding-left: 70px;
    width: 200px;
}
.head
{
    color: purple;
    font-size: 35px;
    margin-top: 140px;
    margin-left: 80px;
}
.para
{
    color:black;
    width: 650px;
    margin-left: 70px;
    margin-top: -30px;
    padding: -10px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.but
{
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 600px;
    gap: 30px;
    margin-left: 120px;
}
.but1
{
    height: 47px;
    width: 125px;
    background-color: rgb(205, 48, 205);
    margin-left: 70px;
    border-radius: 7px;
    color: white;
    border: none;
    font-size: 16px;
}
.but2
{
    height: 47px;
    width: 125px;
    color: white;
    background-color: rgb(205, 48, 205);
    margin-left: 70px;
    border-radius: 7px;
    border: none;
    font-size: 16px;
}
.but1:hover
{
    cursor: pointer;
    background-color: purple;
}
.but2:hover{
    cursor: pointer;
    background-color: purple;
}
.des
{
    display: flex;
    margin-top: -47px;
    font-size: 30px;
    margin-left: 80px;
    text-shadow: 7px 5px 5px rgb(184, 20, 184);
}
.one
{
    color: black;
}
.two
{
    color: red;
    margin-left: 22px;
}
.profile
{
    background-color: skyblue;
    height: 430px;
    width: 25%;
    margin-top: 50px;
    margin-left: 150px;
    border-radius: 22px;
    box-shadow: 8px 7px 20px black;
}
.main
{
    display: flex;
    flex-direction: row;
}
.pro
{
    height: 50%;
    width: 100%;
    background: transparent;
}
.det
{
    height: 50%;
    width: 100%;
    color: black;
    text-align: center;
    font-size: 25px;
}
img
{
    height: 300px;
    width: 300px;
    margin-top: -30px;
}
.brand {
    color: burlywood;
    font-size: 18px; 
    width: 400px;
    display: flex;
    text-align: center;
    margin-left: 240px;
    flex-direction: row;
    justify-content: space-between;
}

.brand ul {
    list-style: none;
    display: flex;
    gap: 80px;
}

.brand ul li {
    position: relative;
}

.brand ul li a {
    text-decoration: none;
    color: rgb(198, 123, 25);
    text-transform: uppercase;
}

.brand ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: rgb(28, 162, 167);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: width 0.5s;
}

.brand ul li:hover::after {
    width: 100%;
}
.h1{
    font-size: 22px;
    margin-left: 0px;
    margin-top: -20px;
    color: transparent;
    background-image: linear-gradient(to right, red, blue);
    -webkit-background-clip: text;
    background-clip: text;
}
.h3
{
    font-size: 18px;
}